@charset "utf-8";
/*
@import url("icon.css");
@import url("responsive.css");
@import url("writing-mode.css");
*/
/*
* {
    padding: 0;
    margin: 0;
}
body {
    --line-of-chars:40;
    font-size: calc(100vw / (var(--line-of-chars)));
}
*/

