@charset "utf-8";
h3,div { padding:0; margin:0; }
input[type=text], textarea {
    width: 100%;
    height: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
/*
textarea[name$="-home"], textarea[name$="-work"], textarea[name$="-play"] {
    width: 33%;
}
*/
.trisection {
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    padding:0; margin:0;
}
/*
.pink { background: #ff6bb0; }
.yellow { background: #f0ca2d; }
.green { background: #19b900; }
.blue { background: #00aaee; }
.orange { background: #ff7836 }
*/
.pink { background: #ffaba1; }
.yellow { background: #d3c400; }
.green { background: #83d632; }
.blue { background: #78caff; }
.orange { background: #ffb22c; }



