@charset "utf-8";
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
input, select, textarea {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
h3,h4,h5,h6,div,section { padding:0; margin:0; }
input[type=text], textarea {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.beat-sheet section { display:grid;grid-template-rows:30px 1fr; }
.beat-sheet section.row3 { display:grid;grid-template-rows:repeat(2, 30px) 1fr; }
.beat-sheet section.row4 { display:grid;grid-template-rows:repeat(3, 30px) 1fr; }
textarea {resize:none;}
.trisection {
    display: grid;
    grid-auto-rows: 100%;
    grid-template-columns: repeat(3, 1fr);
    padding:0; margin:0;
}
.pink { background: #ffa5be; }
.yellow { background: #d4c665; }
.green { background: #7fdba2; }
.blue { background: #5bd5fb; }
.orange { background: #fcb170; }
#download { width:99vw; height:4em; }

